<h2>Use this form to edit the trip's info!</h2>

<%= render partial: "form", locals: {
    form_class: "edit-trip",
    action_name: "Edit Ttrip"
}%>

<%= link_to "Back to trip's information", trip_path(@trip.id)%>