<h2>Use this form to create a new trip!</h2>

<%= render partial: "form", locals: {
    form_class: "create-trip",
    action_name: "Create Trip"
}%>

<%= link_to "Back to trip's information", trip_path(@trip.id)%>