<h2>Form for editing an existing Passenger</h2>

<%= render partial: "form_passenger", locals: {
  form_class: "edit-passenger",
  action_name: "Edit Passenger"
} %>

 <%= link_to "Back to Passenger's list", passengers_path%> 