<h2>Use this form to create a new driver!</h2>

<%= render partial: "form", locals: {
    form_class: "create-driver",
    action_name: "Create Driver"
}%>

 <%= link_to "Back to Driver's list", drivers_path%> 